.about__contacts {
  // outline: 3px solid #362964cc;
  // outline-offset: -3px;
  padding: 26px 20px;
  background: @main-color;
}

@media (min-width: @tablet-width) {
  .about__contacts {
    padding: 58px 70px 59px 70px;
  }
}

@media (min-width: @desktop-width) {
  .about {
    position: relative;
  }

  .about__contacts {
    width: 565px;
    height: 198px;
    background-color: @main-color;
    position: absolute;
    top: 95px;
    left: 110px;
    box-sizing: border-box;
    order: 2;
    padding: 58px 80px 56px 81px;
  }
}
