.advertisement__container {
  padding: 27px 20px 0 20px;
  outline: 3px solid #eb718bcc;
  outline-offset: -3px;
}

//Фон, если картинка не загрузится
// получилось сделать только таким образом, вставить перед изображением,
// и на всю длину контейнера
.advertisement {
  color: #ffffff;
  background-color: #68b738;

  &--background {
    background: url("../img/advertisement/background-mobile.jpg") no-repeat;
  }
}

.advertisement__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  .font-style-title();
}

.advertisement__button {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  display: block;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  min-width: 280px;
  min-height: 40px;
  padding: 7px 44px 7px 44px;
}

.advertisement__description {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

.advertisement__image {
  margin: 0 auto;
  display: block;
}

@media (min-width: @tablet-width) {
  .advertisement {
    color: #000000;

    &--background {
      background-position: 2000px;
      overflow: hidden;
    }
  }

  .advertisement__container {
    position: relative;
    min-height: 810px;

    &::before {
      position: absolute;
      background-image: url("../img/advertisement/index-can-tablet.svg");
      background-repeat: no-repeat;
      content: "";
      height: 609px;
      width: 709px;
      top: 263px;
    }
  }

  .advertisement__title {
    font-size: 60px;
    line-height: 60px;
  }

  .advertisement__image {
    display: none;
  }

  .advertisement__button {
    font-size: 20px;
    line-height: 20px;
    display: block;
    text-align: center;
    box-sizing: border-box;
    min-width: 244px;
    min-height: 54px;
    padding: 14px 26px;
  }
}

@media (min-width: @desktop-width) {
  .advertisement__container {
    position: relative;
    // min-height: 810px;
    &::before {
      position: absolute;
      background-image: url("../img/advertisement/index-can-desktop.svg");
      background-repeat: no-repeat;
      content: "";
      height: 499px;
      width: 552px;
      top: 263px;
      left: 550px;
    }
  }
}
