.catalog-main {
  width: 320px;
  margin: 0 auto;
}

.catalog-main__wrapper {
  padding: 0 20px;
  margin: 0 auto;
  // outline: 3px solid #3bda36cc;
  // outline-offset: -3px;
  width: 280px;
}

.catalog-main__title {
  .font-style-title();
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 27px 22px 41px 0;
}

// .catalog-main__catalog {
//   outline: 3px solid #302c5fcc;
//   outline-offset: -3px;
// }

// .catalog-main__offer {
//   outline: 3px solid #402ffacc;
//   outline-offset: -3px;
// }

@media (min-width: @tablet-width) {
  .catalog-main {
    width: 768px;
    margin: 0 auto;
  }

  .catalog-main__wrapper {
    width: 708px;
    padding: 0 30px;
  }

  .catalog-main__title {
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-main {
    width: 1440px;
    margin: 0 auto;
  }

  .catalog-main__wrapper {
    width: 1220px;
    padding: 0 110px;
  }

  .catalog-main__offer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
