.catalog__item {
  margin-bottom: 25px;
}

.catalog__button {
  font-size: 16px;
  line-height: 20px;
  display: block;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  min-width: 280px;
  min-height: 40px;
  padding: 10px 109px 10px 109px;
}

//
