.catalog-main__wrapper {
  padding: 0 20px;
  margin: 0 auto;
  outline: 3px solid #3bda36cc;
  outline-offset: -3px;
}

.catalog-main__title {
  .font-style-title();
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 27px 22px 41px 0;
}

.catalog-main__catalog {
  outline: 3px solid #302c5fcc;
  outline-offset: -3px;
}

.catalog-main__additional-goods {
  outline: 3px solid #1b0f9bcc;
  outline-offset: -3px;
}

.catalog-main__gift {
  background: url("../../img/gift/gift-backgroud.jpg") no-repeat;
  background-color: rgba(104, 183, 56, 0.85);
  min-width: 280px;
  min-height: 290px;
  outline: 3px solid #b3b021cc;
  outline-offset: -3px;
}

.catalog-main__contacts {
  outline: 3px solid #e98e18cc;
  outline-offset: -3px;
  padding: 26px 20px;
}

.catalog-main__map {
  outline: 3px solid #1c6d8dcc;
  outline-offset: -3px;
}
