.comments__title {
  .font-style-title();
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 37px;
}

.comments__field {
  .form-field-size();
  color: #444444;
  font-family: inherit;
  text-transform: uppercase;
  min-width: 280px;
  padding: 9px 12px 125px 15px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
}
