.example__wrapper {
  min-width: 280px;
  background-color: @secondary-bg-color;
  padding: 25px 20px 40px 20px;
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  .font-style-title();
}

.example__text {
  font-size: 14px;
  line-height: 18px;
  .font-style-title();
}

.example__decline,
.example__spending {
  font-size: 12px;
  line-height: 100%;
  .font-style();
  .font-style-title();
}

.example__expense {
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: @tablet-width) {
  .example__wrapper {
    min-width: 768;
    padding: 25px 30px 40px 30px;
    display: flex;
    flex-direction: column;
  }

  .example__container {
    display: flex;
    justify-content: space-between;
  }

  .example__option {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
