.example__wrapper {
  min-width: 280px;
  background-color: @secondary-bg-color;
  padding: 23px 20px 40px 20px;
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  .font-style-title();
  margin: 0;
  margin-bottom: 40px;
}

.example__text {
  font-size: 14px;
  line-height: 18px;
  .font-style-title();
  margin: 0;
  margin-bottom: 33px;
}

.example__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.example__inner {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 17px;
}

.example__option {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;

  &::before {
    position: absolute;
    width: 124px;
    height: 56px;
    content: "";
    background: url("../img/example/border-mobile.png") no-repeat;
    z-index: 2;
    top: -14px;
    left: 0;
  }
}

.example__cost {
  display: flex;
}

.example__option--position {
  flex-direction: row;
  justify-content: center;
}

.example__weight {
  margin-bottom: 10px;
}

.example__time {
  margin-bottom: 10px;
}

.example__decline,
.example__spending {
  font-size: 12px;
  line-height: 100%;
  .font-style();
  .font-style-title();
  padding: 0 30px;
  text-align: center;
}

.example__expense,
.example__total {
  font-size: 14px;
  line-height: 20px;
}

.example__slider {
  overflow: hidden;
}

.example__br {
  display: none;
}

@media (min-width: @tablet-width) {
  .example__wrapper {
    min-width: 768;
    padding: 43px 30px 40px 30px;
    display: flex;
    flex-direction: column;
  }

  .example__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .example__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 162px;
    margin-right: 42px;

    &::before {
      width: 162px;
      height: 72px;
      background: url("../img/example/border-tablet.png") no-repeat;
      top: -14px;
      left: 0;
    }
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 66px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 65px;
  }

  .example__br {
    display: block;
  }

  .example__decline,
  .example__spending {
    font-size: 14px;
    line-height: 14px;
    padding: 0 10px;
  }

  .example__total,
  .example__expense {
    font-size: 20px;
  }

  .example__option--position {
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
  }

  .example__expense {
    margin-bottom: 5px;
  }

  .example__slider {
    padding-top: 327px;
  }
}

@media (min-width: @desktop-width) {
  .example__wrapper {
    position: relative;
    padding: 42px 110px 71px 110px;
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__text {
    padding-right: 784px;
    margin-bottom: 84px;
  }

  .example__br {
    display: none;
  }

  .example__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 408px;
    margin-bottom: 0;
  }

  .example__option--position {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .example__cost {
    display: block;
  }

  .example__inner {
    margin-bottom: 56px;
  }

  .example__expense {
    margin-right: 62px;
    margin-bottom: 0;
  }

  .example__slider {
    position: absolute;
    padding-top: 0;
    left: 767px;
    top: 265px;
  }
}

