.form-main__wrapper {
  outline: 3px solid #3bda36cc;
  outline-offset: -3px;
  width: 320px;
  margin: 0 auto;
}

.form-main__title {
  .font-style-title();
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 27px 20px 37px 20px;
}

.form-main__contacts {
  padding: 26px 20px;
}

@media (min-width: @tablet-width) {
  .form-main__wrapper {
    width: 768px;
    margin: 0 auto;
  }

  .form-main__map {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .form-main__wrapper {
    width: 1440px;
    margin: 0 auto;
  }

  .form-main__map {
    width: 1440px;
  }

  .form-main__contacts {
    width: 565px;
    height: 198px;
    background-color: #b34a4a;
    position: absolute;
    top: 1290px;
    left: 340px;
    box-sizing: border-box;
    order: 2;
  }
}
