.form-field__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form-field__label {
  margin-right: 12px;
}

.form-field__input {
  .form-field-size();
  color: @second-text-color;
  font-family: inherit;
  text-transform: uppercase;
  display: block;
  padding: 13px 13px 14px 15px;
  border: 1px solid @border-color;
  box-sizing: border-box;
  height: 45px;
}

.form-field__input--size-large {
  min-width: 229px;
}

.form-field__input--size-medium {
  min-width: 204px;
}

.form-field__input--size-small {
  min-width: 172px;
}


@media (min-width: @tablet-width) {
  .form-field__input {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: @second-text-color;
    font-family: inherit;

    display: block;
    padding: 10px 19px 12px 15px;
    border: 1px solid @border-color;
    box-sizing: border-box;
    height: 52px;
  }

  .form-field__input--size-large {
    min-width: 567px;
  }

  .form-field__input--size-medium {
    min-width: 536px;
  }

  .form-field__input--size-small {
    min-width: 497px;
  }
}

@media (min-width: @desktop-width) {
  .form-field__input--size-large {
    min-width: 506px;
  }

  .form-field__input--size-medium {
    min-width: 475px;
  }

  .form-field__input--size-small {
    min-width: 436px;
  }
}
