.form-main__wrapper {
  outline: 3px solid #3bda36cc;
  outline-offset: -3px;
  width: 320px;
  margin: 0 auto;
}

.form-main__title {
  .font-style-title();
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 27px 20px 37px 20px;
}

@media (min-width: @tablet-width) {
  .form-main__wrapper {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .form-main__wrapper {
    width: 1440px;
    margin: 0 auto;
  }
}
