.form-main__wrapper {
  outline: 3px solid #3bda36cc;
  outline-offset: -3px;
}

.form-main__title {
  .font-style-title();
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 27px 20px 37px 20px;
}


.form-main__contacts {
  padding: 26px 20px;
}
//
