.instruction__title {
  font-size: 36px;
  line-height: 40px;
  .font-style-title();
  margin: 0;
  margin-bottom: 42px;
}

.instruction__description {
  text-transform: none;
  font-size: 14px;
  line-height: 18px;
}

.instruction__item {
  position: relative;
  padding-left: 80px;
  margin-bottom: 26px;

  &::before {
    position: absolute;
    background-color: @button-bg-color;
    width: 60px;
    height: 60px;
    left: 0;
    top: 0;
    content: "";
  }
}

.instruction__item--first {
  position: relative;

  &::after {
    position: absolute;
    background-image: url("../img/instruction/icon-leaf.svg");
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    left: 15px;
    top: 14px;
    content: "";
  }
}

.instruction__item--second {
  position: relative;

  &::after {
    position: absolute;
    background-image: url("../img/instruction/icon-tub.svg");
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    content: "";
    left: 15px;
    top: 13px;
  }
}

.instruction__item--third {
  position: relative;

  &::after {
    position: absolute;
    background-image: url("../img/instruction/icon-eat.svg");
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    content: "";
    left: 18px;
    top: 15px;
  }
}

.instruction__item--fourth {
  position: relative;
  margin-bottom: 0;

  &::after {
    position: absolute;
    background-image: url("../img/instruction/icon-alarm.svg");
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    content: "";
    left: 14px;
    top: 13px;
  }
}

.instruction__count--disabled {
  display: none;
}

@media (min-width: @tablet-width) {
  .instruction {
    display: flex;
    flex-direction: column;
  }

  .instruction__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 41px;
  }

  .instruction__item {
    padding: 0;
    margin: 0;
    padding-bottom: 92px;

    &::before {
      position: absolute;
      background-color: @button-bg-color;
      width: 80px;
      height: 80px;
      left: 0;
      top: 0;
      content: "";
    }
  }

  .instruction__item--first {

    &::after {
      width: 80px;
      height: 80px;
      left: 24px;
      top: 25px;
    }
  }

  .instruction__item--second {

    &::after {
      width: 80px;
      height: 80px;
      left: 24px;
      top: 24px;
    }
  }

  .instruction__item--third {

    &::after {
      width: 80px;
      height: 80px;
      left: 27px;
      top: 25px;
    }
  }

  .instruction__item--fourth {

    &::after {
      width: 80px;
      height: 80px;
      left: 24px;
      top: 23px;
    }
  }

  .instruction__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }

  .instruction__description {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    padding-top: 112px;
    padding-right: 60px;
  }

  .instruction__count--disabled {
    position: absolute;
    display: block;
    font-size: 280px;
    line-height: 280px;
    color: @primary-bg-color;
    width: 136px;
    height: 280px;
    top: -41px;
    left: 115px;
    z-index: -2;
  }
}

@media (min-width: @desktop-width) {
  .instruction__list {
    justify-content: space-between;
  }

  .instruction__item {
    width: 250px;
  }
}
