.navigation__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navigation__item {
  padding: 22px 0 24px 0;
  border-top: 1px solid @border-menu;
  width: 100%;
}

.navigation__link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: @main-text-color;
}

@media (min-width: @tablet-width) {
  .navigation__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 36px;
  }

  .navigation__item {
    padding: 0;
    border: none;
    width: auto;
  }

  .navigation__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .navigation__link--active {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: auto;
      height: 2px;
      border-bottom: 2px solid @button-bg-color;
      left: 0;
      right: 0;
      bottom: -10px;
    }
  }
}

@media (min-width: @desktop-width) {
  .navigation__link--color-white {
    color: @main-color;
  }

  .navigation__link {
    font-size: 20px;
    line-height: 30px;
  }

  .navigation__link--active {
    &::before {
      border-color: @main-color;
      bottom: -8px;
      width: auto;
    }
  }
}
