.navigation__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navigation__item {
  padding: 22px 0 24px 0;
  border-top: 1px solid @border-menu;
  width: 100%;
}

.navigation__link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: @main-text-color;
}

@media (min-width: @tablet-width) {
  .navigation__list {
    display: flex;
    flex-direction: row;
    height: 66px;
  }

  .navigation__item {
    padding: 0;
    border: none;
    width: auto;
  }

  .navigation__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .navigation__link--color-white {
    color: @main-color;
  }
}
