.new-card__icon {
  position: relative;
  top: 41px;
  left: 50%;
  transform: translate(-50%, -50%);

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 83%);
  }

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    background-color: hsl(0, 0%, 83%);
  }
}

.new-card__text {
  font-size: 16px;
  line-height: 20px;
  color: @contacts-color;
  text-align: center;
  margin: 0;
  padding-top: 80px;
  margin-bottom: 6px;
}

.new-card__banner {
  font-size: 12px;
  line-height: 16px;
  .font-style();
  .font-style-title();
  color: @second-text-color;
  text-align: center;
  margin: 0;
  margin-bottom: 19px;
}

.new-card__button {
  font-size: 16px;
  line-height: 20px;
  display: block;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  min-width: 280px;
  min-height: 40px;
  padding: 10px 94px 10px 94px;
}

.new-card__button--show-all {
  background-color: @primary-bg-color;
  color: @second-text-color;
}

@media (min-width: @tablet-width) {
  .new-card {
    background-color: @main-color;
    border: 2px solid @primary-bg-color;
    box-sizing: border-box;
  }

  .new-card__text {
    padding: 161px 94px 0 92px;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
  }

  .new-card__banner {
    padding-left: 76px;
    padding-right: 77px;
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 18px;
  }

  .new-card__button {
    min-width: 249px;
    font-size: 16px;
    line-height: 0;
    padding: 20px 79px 20px 79px;
  }

  .new-card__icon {
    &::after {
      width: 60px;
    }

    &::before {
      width: 60px;
    }
  }
}

@media (min-width: @desktop-width) {
  .new-card__text {
    padding: 161px 53px 0 54px;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
  }

  .new-card__banner {
    padding-left: 39px;
    padding-right: 39px;
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 18px;
  }

  .new-card__button {
    min-width: 168px;
    padding: 0;
    margin: 0 18px;
  }
}
