.offer__gift {
  padding: 35px 0;
}

@media (min-width: @tablet-width) {
  .offer__gift {
    padding: 69px 0 76px 0;
  }
}

@media (min-width: @desktop-width) {
  .offer__gift {
    padding: 0;
  }
}
