.program__container {
  width: 280px;
  margin: 0 auto;
}

.program__title {
  display: block;
  text-align: center;
}

.program__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
}

.program__item {
  background-color: @background-color;
  margin-bottom: 20px;
  outline: 3px solid #3bda36cc;
  outline-offset: -3px;
  padding: 30px 33px 22px 20px;
}

// .program__item:not(:last-child) {
//   background-color: #F2F2F2;
//   margin-bottom: 20px;
// }
