.program-selection__program {
  padding: 0 20px;
  outline: 3px solid #40abe9cc;
  outline-offset: -3px;
}

.program-selection__instruction {
  outline: 3px solid #e9a540cc;
  outline-offset: -3px;
}

.program-selection__advertisement {
  margin-bottom: 20px;
}
