// Файлы стилей socials.less
.socials__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 109px;
}

.socials__item {
  position: relative;
}

// .socials__link {
//   display: none;
// }

.socials__link--vkontakte {
  position: absolute;
  background-image: url("../img/footer/sprite.svg");
  background-repeat: no-repeat;
  background-position: 5px 7px;
  width: 40px;
  height: 40px;
  left: 67px;
  top: 38px;
}

.socials__link--youtube {
  position: absolute;
  background-image: url("../img/footer/sprite.svg");
  background-repeat: no-repeat;
  background-position: -46px 7px;
  width: 40px;
  height: 40px;
  left: -21px;
  top: 38px;
}

.socials__link--telegram {
  position: absolute;
  background-image: url("../img/footer/sprite.svg");
  background-repeat: no-repeat;
  background-position: -100px 7px;
  width: 40px;
  height: 40px;
  left: -107px;
  top: 38px;
}

@media (min-width: @tablet-width) {
  .socials__list {
    margin-bottom: 0;
  }

  .socials__link--vkontakte {
    left: -58px;
    top: -8px;
  }

  .socials__link--youtube {
    left: -7px;
    top: -8px;
  }

  .socials__link--telegram {
    left: 47px;
    top: -8px;
  }
}
