.сontact-details__wrapper {
  display: flex;
  flex-direction: column;
}

.сontact-details__title {
  .font-style-title();
  font-size: 24px;
  line-height: 26px;
}

.сontact-details__input {
  .form-field-size();
  color: #444444;
  font-family: inherit;
  text-transform: uppercase;
  padding: 13px 15px 15px 15px;
  margin-bottom: 14px;
}

@media (min-width: @tablet-width) {
  .сontact-details__title {
    font-size: 36px;
    line-height: 36px;
  }

  // Можно использовать селектор по атрибуту?
  input[name^="email"] {
    min-width: 450px;
  }

  input[name^="phone"] {
    min-width: 450px;
  }

  .сontact-details__input {
    font-size: 20px;
    line-height: 30px;
    min-width: 450px;
    min-height: 52px;
  }
}

@media (min-width: @desktop-width) {
  .сontact-details__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
