@background-color: #F2F2F2;

.font-style {
  font-family: "Arial", "Arial Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-style-title {
  font-weight: 400;
  text-transform: none;
}

.form-field-size {
  font-size: 16px;
  line-height: 18px;
}
